@font-face {
    font-family: 'Abel';
    src: url('../../Fonts/Abel-Regular.woff2') format('woff2'),
    url('../../Fonts/Abel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alef';
    src: url('../../Fonts/Alef-Regular.woff2') format('woff2'),
    url('../../Fonts/Alef-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Allison';
    src: url('../../Fonts/Allison-v7-Latin-Regular.woff2') format('woff2'),
    url('../../Fonts/Allison-v7-Latin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'AvantGarde Bk BT';
    src: url('../../Fonts/Avgardn.woff2') format('woff2'),
    url('../../Fonts/Avgardn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGarde Md BT';
    src: url('../../Fonts/Avgardm.woff2') format('woff2'),
    url('../../Fonts/Avgardm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baby Brooklyn Regular';
    src: url('../../Fonts/Babybrooklyn-Regular-Medium.woff2') format('woff2'),
    url('../../Fonts/Babybrooklyn-Regular-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url('../../Fonts/Cairo-Regular.woff2') format('woff2'),
    url('../../Fonts/Cairo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Charm';
    src: url('../../Fonts/Charm-Regular.woff2') format('woff2'),
    url('../../Fonts/Charm-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
    src: url('../../Fonts/Dancing-Regular.woff2') format('woff2'),
    url('../../Fonts/Dancing-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Duepuntozero_regular';
    src: url('../../Fonts/Duepuntozero_Regular.woff2') format('woff2'),
    url('../../Fonts/Duepuntozero_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Edu';
    src: url('../../Fonts/EduVICWANT.woff2') format('woff2'),
    url('../../Fonts/EduVICWANT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreestyleScript';
    src: url('../../Fonts/FreestyleScriptStd.woff2') format('woff2'),
    url('../../Fonts/FreestyleScriptStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fontin Sans Regular';
    src: url('../../Fonts/Fontin_Sans_R.woff2') format('woff2'),
    url('../../Fonts/Fontin_Sans_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fontin Sans SmallCaps';
    src: url('../../Fonts/Fontin_Sans_SC.woff2') format('woff2'),
    url('../../Fonts/Fontin_Sans_SC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hector';
    src: url('../../Fonts/Hector.woff2') format('woff2'),
    url('../../Fonts/Hector.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../../Fonts/Inconsolata-Regular.woff2') format('woff2'),
    url('../../Fonts/Inconsolata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../Fonts/Lato-Regular.woff2') format('woff2'),
    url('../../Fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora italic';
    src: url('../../Fonts/Lora-Italic.woff2') format('woff2'),
    url('../../Fonts/Lora-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src: url('../../Fonts/Lobster-Regular.woff2') format('woff2'),
    url('../../Fonts/Lobster-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../Fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../../Fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../../Fonts/MyriadPro-Regular.woff2') format('woff2'),
    url('../../Fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../../Fonts/MyriadPro-Bold.woff2') format('woff2'),
    url('../../Fonts/MyriadPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../Fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../../Fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass Light';
    src: url('../../Fonts/Overpass-Light.woff2') format('woff2'),
    url('../../Fonts/Overpass-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
        font-family: 'Overpass Regular';
    src: url('../../Fonts/Overpass-Regular.woff2') format('woff2'),
    url('../../Fonts/Overpass-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Overpass Bold';
    src: url('../../Fonts/Overpass-Bold.woff2') format('woff2'),
    url('../../Fonts/Overpass-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../../Fonts/Poppins-Medium.woff2') format('woff2'),
    url('../../Fonts/Poppins-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Permanent Marker';
    src: url('../../Fonts/PermanentMarker-Regular.woff2') format('woff2'),
    url('../../Fonts/PermanentMarker-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../../Fonts/PTSans-Regular.woff2') format('woff2'),
    url('../../Fonts/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../../Fonts/RobotoCondensed-Regular.woff2') format('woff2'),
    url('../../Fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../../Fonts/SourceSansPro-Regular.woff2') format('woff2'),
    url('../../Fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('../../Fonts/SourceSansPro-Light.woff2') format('woff2'),
    url('../../Fonts/SourceSansPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSans3';
    src: url('../../Fonts/SourceSans3-Variable.woff2') format('woff2'),
    url('../../Fonts/SourceSans3-Variable.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Train One';
    src: url('../../Fonts/Train-One-Regular.woff2') format('woff2'),
    url('../../Fonts/Train-One-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../Fonts/Ubuntu-Regular.woff2') format('woff2'),
    url('../../Fonts/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
