@font-face {
    font-family: 'Abel';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Abel-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Abel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Allison';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/allison-v7-latin-regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/allison-v7-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'AvantGarde Bk BT';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Avgardn.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Avgardn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGarde Md BT';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Avgardm.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Avgardm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Edu';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/EduVICWANT.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/EduVICWANT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora italic';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Lora-Italic.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Lora-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/lobster-regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/lobster-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Poppins-Medium.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Poppins-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Permanent Marker';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/PermanentMarker-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/PermanentMarker-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/PTSans-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/SourceSansPro-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/SourceSansPro-Light.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/SourceSansPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/RobotoCondensed-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Roboto-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Roboto-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Roboto-Medium.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Raleway-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
