@font-face {
    font-family: 'Abel';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Abel-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Abel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alef';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Alef-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Alef-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Allison';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/allison-v7-latin-regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/allison-v7-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'AvantGarde Bk BT';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Avgardn.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Avgardn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGarde Md BT';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Avgardm.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Avgardm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'duepuntozero_regular';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/duepuntozero_regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/duepuntozero_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Edu';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/EduVICWANT.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/EduVICWANT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreestyleScript';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/FreestyleScriptStd.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/FreestyleScriptStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fontin Sans Regular';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Fontin_Sans_R.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Fontin_Sans_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fontin Sans SmallCaps';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Fontin_Sans_SC.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Fontin_Sans_SC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hector';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Hector.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Hector.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora italic';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Lora-Italic.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Lora-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/lobster-regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/lobster-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/MyriadPro-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/MyriadPro-Bold.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/MyriadPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Poppins-Medium.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/Poppins-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Permanent Marker';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/PermanentMarker-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/PermanentMarker-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/PTSans-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/RobotoCondensed-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/SourceSansPro-Regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/SourceSansPro-Light.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/SourceSansPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Train One';
    src: url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/train-one-regular.woff2') format('woff2'),
    url('../../../typo3conf/ext/sitepackage/Resources/Public/Fonts/train-one-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

