@font-face {
  font-family: 'Arvo';
  src: url('Fonts/Arvo-Regular.woff2') format('woff2'),
  url('Fonts/Arvo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arvo';
  src: url('Fonts/Arvo-Bold.woff2') format('woff2'),
  url('Fonts/Arvo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Arvo';
  src: url('Fonts/Arvo-Italic.woff2') format('woff2'),
  url('Fonts/Arvo-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Arvo';
  src: url('Fonts/Arvo-BoldItalic.woff2') format('woff2'),
  url('Fonts/Arvo-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Overpass Thin';
  src: url('Fonts/Overpass-VF.woff2') format('woff2'),
  url('Fonts/Overpass-VF.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Overpass ExtraLight';
  src: url('Fonts/Overpass-VF.woff2') format('woff2'),
  url('Fonts/Overpass-VF.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Overpass Light';
  src: url('Fonts/Overpass-VF.woff2') format('woff2'),
  url('Fonts/Overpass-VF.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Overpass Regular';
  src: url('Fonts/Overpass-VF.woff2') format('woff2'),
  url('Fonts/Overpass-VF.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Overpass Medium';
  src: url('Fonts/Overpass-VF.woff2') format('woff2'),
  url('Fonts/Overpass-VF.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Overpass SemiBold';
  src: url('Fonts/Overpass-VF.woff2') format('woff2'),
  url('Fonts/Overpass-VF.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Overpass Bold';
  src: url('Fonts/Overpass-VF.woff2') format('woff2'),
  url('Fonts/Overpass-VF.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Overpass ExtraBold';
  src: url('Fonts/Overpass-VF.woff2') format('woff2'),
  url('Fonts/Overpass-VF.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Overpass Black';
  src: url('Fonts/Overpass-VF.woff2') format('woff2'),
  url('Fonts/Overpass-VF.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSans3';
  src: url('Fonts/SourceSans3-Variable.woff2') format('woff2'),
  url('Fonts/SourceSans3-Variable.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}